* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #fbdc4d;
}

:focus {
    outline: none;
}


:root {
    --text: #393f47;
    --lineButton: #fbdc4d;
    --bgPortfolio: #f4f8f9;
    --uiKitRed: #ea736d;
    --colorLink: #039be5;
    --footerBg: #333333;
    --footerLink: #b0b0b0;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: 'M PLUS 1p', sans-serif;
    color: #000;
    line-height: 1.5;
    position: relative;
}

.noscroll {
    overflow: hidden;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
}

#overlay.active {
    display: block;
}

#page-nav {
    display: none;

    @media (min-width: 1200px) {
        display: block;
        position: fixed;
        right: 60px;
        top: 60%;
        z-index: 100;
    }
}

#page-nav li {
    width: 14px;
    height: 14px;
    background-color: #89b4cb;
    border-radius: 50%;
    margin-bottom: 25px;
    transition: 0.5s;
}

#page-nav li a {
    display: block;
    height: 100%;
}

#page-nav li.active {
    background-color: var(--uiKitRed);
}

#backTop a {
    color: var(--lineButton);
    position: fixed;
    bottom: 40px;
    right: 50px;
    font-size: 50px;
    &:hover {
        color: #ea736d;
    }

    @media (min-width: 1200px) {
        display: none;
    }
}

a,
a:hover {
    text-decoration: none;
    color: #000;
}

a:focus {
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

p {
    color: var(--text);
    font-weight: 500;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
button {
    outline: none;
}

button {
    cursor: pointer;
}

.btn  {
    height: 65px;
    padding: 16px 40px;
    border-radius: 35px;
    font-size: 22px;
    font-weight: 700;
    background-color: var(--lineButton);
    &:hover {
        background-color: #ffd200;
        }
    &:active {
        background-color: #e1bc10;
        }
}

.title-1 {
    font-size: 42px;
    color: #000;
    font-weight: 800;
    line-height: 1.2;

    @media (min-width: 768px) {
        font-size: 52px;
        
    }

    @media (min-width: 1200px) {
        font-size: 90px;
        line-height: 1.2;
    }
}
.title1-header {
    text-align: left;
    @media (min-width: 576px) {
        text-align: center;
    }
    @media (min-width: 768px) {
        text-align: left;
    }
}
.title-2 {
    font-size: 42px;
    color: #000;
    font-weight: 800;
    margin-bottom: 35px;

    @media (min-width: 768px) {
        font-size: 52px;
        margin-bottom: 35px;
    }

    @media (min-width: 1200px) {
        font-size: 64px;
        margin-bottom: 46px;
    }
}

.title-3 {
    font-size: 30px;
    color: #000;
    font-weight: 800;

    @media (min-width: 768px) {
        font-size: 32px;
    }

    @media (min-width: 1200px) {
        font-size: 40px;
    }
}

.title-4 {
    font-size: 22px;
    color: #000;
    font-weight: 700;

    @media (min-width: 768px) {
        font-size: 24px;
    }

    @media (min-width: 1200px) {
        font-size: 32px;
    }
}

.container {
    width: 100%;
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @media (min-width: 576px) {
        max-width: 540px;
        padding-right: 0;
        padding-left: 0;
    }

    @media (min-width: 768px) {
        max-width: 720px;
        // padding: 0px 30px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
        padding: 0px;
    }
}
