.feedback {
    padding-top: 44px;
    padding-bottom: 50px;
    background-color: var(--bgPortfolio);
}

.title2-feedback {
    text-align: center;
    margin-bottom: 38px;
}

.feedback-row {

}

.feedback-row__img {
    display: none;
}

.feedback-row__contacts {
    
}

.feedback-row__contacts {
    
}

.feedback-row__contacts-desc {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.feedback-row__contacts-block {

}

.feedback-row__contacts-block-item {
    margin-top: 9px;
}

.contact-type {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

.item-link {
    font-size: 18px;
    font-weight: 500;
    color: var(--colorLink);
}
