.feedback {
    padding-top: 44px;
    padding-bottom: 60px;
    background-color: var(--bgPortfolio);

    @media (min-width: 768px) {
        padding-top: 74px;
        padding-bottom: 42px;
    }

    @media (min-width: 1200px) {
        padding-top: 130px;
        padding-bottom: 151px;
        background-image: url(../img/feedback/feedback-bg.jpg);
        background-size: contain;
        background-position: 0 0;
        background-repeat: repeat-y;
    }
}

.title-line.title-line-feedback {
    @media (min-width: 1200px) {
        &::after {
            bottom: 14px;
        }
    }
}

.title2-feedback {
    text-align: center;
    margin-bottom: 38px;

    @media (min-width: 768px) {
        margin-bottom: 59px;
    }
}

.feedback-row {
    position: relative;

    @media (min-width: 768px) {
        display: flex;
    }
}

.feedback-row__img {
    display: none;
    width: 450px;
    position: absolute;
    top: 0;
    left: -350px;

    @media (min-width: 1200px) {
        display: block;
    }
}

.feedback-row__contacts {
    margin-bottom: 45px;

    @media (min-width: 768px) {
        width: 340px;
        margin-right: 25px;
        padding-right: 70px;
    }

    @media (min-width: 1200px) {
        width: 580px;
        padding-top: 18px;
        padding-right: 50px;
    }
}

.feedback-row__contacts-desc {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;

    @media (min-width: 768px) {
        margin-bottom: 40px;
        font-size: 18px;
    }

     @media (min-width: 1200px) {
        font-size: 20px;
    }
}

.feedback-row__contacts-block {
    margin-bottom: 30px;
    position: relative;
    z-index: 25;

    @media (min-width: 768px) {
        margin-bottom: 40px;
    }
}

.feedback-row__contacts-block-item {
    margin-top: 9px;

    @media (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }
}

.contact-type {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

.item-link.item-link--phone-address {
    color: #96969d;
}

.item-link {
    font-size: 18px;
    font-weight: 500;
    color: var(--colorLink);
    flex-basis: 64%;
}

.feedback-row__form {
    max-width: 400px;

    @media (min-width: 768px) {
        width: 340px;
    }

    @media (min-width: 1200px) {
        width: 509px;
    }
}

.contacts-form {
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 15px;
    padding-bottom: 40px;
    padding-right: 15px;
    background-color: #fff;
    box-shadow: 0px 28px 40px 0px rgba(194, 219, 235, 1);

    @media (min-width: 768px) {
        padding-top: 79px;
    }

    @media (min-width: 1200px) {
        padding-top: 98px;
        padding-left: 57px;
    }
}

.form-row {
    position: relative;
    margin-bottom: 55px;
    font-weight: 700;

    @media (min-width: 768px) {
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    @media (min-width: 1200px) {
        margin-bottom: 75px;
    }
}

.form-row__input {
    width: 100%;
    border: 0px;
    font-size: 20px;
    border-bottom: 2px solid #eaeaea;
    padding-top: 18px;
    padding-left: 5px;
    padding-right: 5px;
    color: #000;
    height: 40px;
    resize: none;
    font-weight: 700;

    @media (min-width: 1200px) {
        padding-top: 0;
    }
}

.form-row__input--textarea {
    padding-top: 17px;
    padding-bottom: 17px;
    height: auto;
    resize: none;

    @media (min-width: 768px) {
        padding-bottom: 41px;
    }

    @media (min-width: 1200px) {
        padding-bottom: 32px;
    }
}

.fake-placeholder {
    position: absolute;
    left: 5px;
    top: -16px;
    color: #bcbcbc;
    pointer-events: none;
    transition: 0.3s;
    font-size: 20px;

    @media (min-width: 768px) {
        top: -20px;
    }
}

.fake-placeholder.active {
    font-size: 16px;
    color: #ed9626;
    top: -10px;
    transition: 0.3s;

    @media (min-width: 1200px) {
        top: -30px;
    }
}

.error {
    color: red;
    font-size: 20px;
    position: relative;

    &::after {
        content: '\f106';
        font-family: 'fontAwesome';
        position: absolute;
        top: -12px;
        left: 0;
        font-size: 15px;
    }
}

.button-submit {
    border: none;
    width: 100%;
    height: 55px;

    @media (min-width: 768px) {
        margin-top: 12px;
    }

    @media (min-width: 1200px) {
        width: auto;
        height: 60px;
        margin-top: 34px;
    }
}
