.how-work {
    padding-top: 48px;
    padding-bottom: 60px;

    @media (min-width: 768px) {
        padding-top: 75px;
        padding-bottom: 80px;
    }

    @media (min-width: 1200px) {
        background-image: url(../img/how-work/how-work-bg.jpg);
        background-size: contain;
        background-position: 0 0;
        background-repeat: repeat-y;
        padding-top: 125px;
        padding-bottom: 140px;
    }
}

.title2-howwork {
    font-size: 38px;

    @media (min-width: 768px) {
        font-size: 52px;
        text-align: center;
    }

    @media (min-width: 1200px) {
        font-size: 64px;
    }
}
